@import "tailwindcss";

 promotionFarhad


 main
@theme {
  --color-linear-1: #4e95ff;
  --color-linear-2: #7f5cff;
  --color-web-brand: #7451fd;
  --color-black: #050111;
  --color-black-1: #1e1e1f;
  --color-black-2: #38435c;
  --color-black-3: #1a2130;
  --color-gray-1: #6f7b88;
  --color-gray-2: #a9b0b8;
  --color-gray-3: #e9f0f8;
  --color-gray-4: #45587c;
  --font-inter: "Inter", sans-serif;
}

@layer utilities {
promotionFarhad
  .container{

  .container {
 main
    @apply max-w-285  mx-auto;
  }
}

.input-one input {
  background-image: url('/user.svg');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px;
  padding-left: 40px;
}
.input-two input {
  background-image: url('/mail.svg');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px;
  padding-left: 40px;
}
.input-three input {
  background-image: url('/phone-call.svg');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px;
  padding-left: 40px;
}
.input-four input {
  background-image: url('/award.svg');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px;
  padding-left: 40px;
}

