@import "tailwindcss";

*{
    padding: 0;
    margin: 0;

}
@theme{
     --color-linear-1:#4E95FF;
     --color-linear-2:#7F5CFF;
      --color-web-brand:#7451FD;
       --color-black:#050111;
        --color-black-1:#1E1E1F;
         --color-black-2:#38435C;
          --color-black-3:#1A2130;
           --color-gray-1:#6F7B88;
            --color-gray-2:#A9B0B8;
             --color-gray-3:#E9F0F8;
              --color-gray-4:#45587C    ;
    --default-font-family: "Inter", sans-serif;
   
}